.side_bg_img .mCSB_container:before {
  background: #b1091d;
  opacity: 100;
}

.side_bg_img {
  background: #b1091d;
}

.dark_blue .sidebar-menu > li:hover > a {
  background: rgba(0, 0, 0, 0.14901960784313725);
}

.bg_lightgrey {
  background: #eaeaea;
}

.bg_green {
  background-color: #8bc34a !important;
}

.cl_lightgrey {
  color: #eaeaea !important;
}

.cl_darkgrey {
  color: #53505f !important;
}

.cl_red {
  color: #b1091d;
}

.cl_primary {
  color: #d44a1e !important;
}

.cl_info {
  color: #36a2f5 !important;
}

.cl_grey {
  color: #bababa;
}

.btn-outline-info,
btn-md {
  border-color: 1px solid #36a2f5 !important;
  color: #36a2f5 !important;
}

.info_items_text {
  font-size: medium;
  font-weight: 400;
  color: #1e2418;
}

.info_items_icon {
  margin: 0px;
  border-radius: 18%;
  background-color: #d7010a;
}

.card {
  border-radius: 7px;
}

.form-control:focus {
  border-color: #2d93ed;
}

.img-fluid,
.icon {
  max-width: 35%;
}

.bg-primary {
  background-color: #d44a1e !important;
}

.align-items-right {
  text-align: right !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.btn-primary,
.card-primary,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #36a2f5 !important;
  border-color: #36a2f5 !important;
}

.badge {
  padding: 0.5em 1em;
}

.btn-primary {
  background-color: #d44a1e !important;
  border-color: #d44a1e !important;
}

.badge-primary {
  background-color: #d44a1e !important;
}

.map-wrapper {
  display: flex;
}

.map-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
